{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <form action="add" method="POST">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" name="to_do_title" class="form-control" placeholder="Title to add"
            aria-label="Title to add" aria-describedby="add-title-button" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="add-title-button">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <div style="height:450px; overflow-y: scroll;">
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th style="width:5%" scope="col">#</th>
            <th style="width:55%" scope="col">Title</th>
            <th style="width:20%" scope="col">Status
              <a style="color: #495057;" href="/sort">
                {% if session['sesh_sort_order'] == 'Descending' %}
                <i class="fa fa-fw fa-sort-down"></i>
                {% elif session['sesh_sort_order'] == 'Ascending' %}
                <i class="fa fa-fw fa-sort-up"></i>
                {% else %}
                <i class="fa fa-fw fa-sort"></i>
                {% endif %}
              </a>
            </th>
            <th style="width:20%" scope="col"></th>
          </tr>
        </thead>
        {% for to_do in to_do_list %}
        <tr>
          <td>{{to_do.id}}</td>
          <td>{{to_do.title}}</td>
          <td>{{to_do.status}}</td>
          <td>
            <div class="btn-group">
              {% if to_do.status == 'Not Started' %}
              <form action="complete/{{ to_do.id }}" method="POST">
                <button type="submit" class="btn btn-outline-success btn-sm">Complete</button>
              </form>
              {% endif %}
              <form action="delete/{{ to_do.id }}" method="POST">
                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}