{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
        <form action="add" method="POST">
          <div class="form-group">
            <div class="input-group mb-3">
              <input type="text" name="to_do_title" class="form-control" placeholder="Title to add" aria-label="Title to add" aria-describedby="add-title-button">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="add-title-button">Submit</button>
              </div>
            </div>
          </div>        
        </form>
      <table class="table table-hover table-sm">
        <thead class="thead-light">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Status
            <form action="sort">
              <div>
                <input type="submit" value="Sort">
              </div>
              </form>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
        {% for to_do in to_do_list %}
        <tr>
          <td>{{to_do.title}}</td>
          <td>{{to_do.status}}</td>
          <td>
            <form action="complete/{{ to_do.id }}">
              <div>
                <button type="submit" class="btn btn-outline-success btn-sm">Complete</button>
              </div>
            </form>
            <form action="delete/{{ to_do.id }}">
              <div>
                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
              </div>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}